<script>
    $(function(){
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '$!{appid}', // 必填，公众号的唯一标识
            timestamp: '$!{timestamp}', // 必填，生成签名的时间戳
            nonceStr: '$!{nonceStr}', // 必填，生成签名的随机串
            signature: '$!{signature}',// 必填，签名，见附录1
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function(){
	        // 分享到朋友圈
	        wx.onMenuShareTimeline({
	            title: '6月大促品质狂欢节，领神券买好货', // 分享标题
	            link: 'http://m.lvzheng.com/wx/preferential/coupon', // 分享链接
	            imgUrl: 'http://static.lvzheng.com/images/coupon/couponwx.png', // 分享图标
	            success: function () { 
	                // 用户确认分享后执行的回调函数
	        		lv_clickLog("moudle=coupon_share_quan&userId=$!{loginE.getUserid()}&data_openId=$!{openId}&data_action=click&data_from=$!{from}");
	            },
	            cancel: function () { 
	                // 用户取消分享后执行的回调函数
	            }
	        });
	        // 分享给朋友
	        wx.onMenuShareAppMessage({
	            title: '6月大促品质狂欢节，领神券买好货', // 分享标题
	            desc: '6月初夏福利小微大放送，领神券买好货，分享还有更多壕礼等着你', // 分享描述
	            link: 'http://m.lvzheng.com/wx/preferential/coupon', // 分享链接
	            imgUrl: 'http://static.lvzheng.com/images/coupon/couponwx.png', // 分享图标
	            type: '', // 分享类型,music、video或link，不填默认为link
	            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
	            success: function () { 
	                // 用户确认分享后执行的回调函数
	        		lv_clickLog("moudle=coupon_share_friend&userId=$!{loginE.getUserid()}&data_openId=$!{openId}&data_action=click&data_from=$!{from}");
	            },
	            cancel: function () { 
	                // 用户取消分享后执行的回调函数
	            }
	        });
	        
	        // 分享到QQ
	        wx.onMenuShareQQ({
	            title: '6月大促品质狂欢节，领神券买好货', // 分享标题
	            desc: '6月初夏福利小微大放送，领神券买好货，分享还有更多壕礼等着你', // 分享描述
	            link: 'http://m.lvzheng.com/wx/preferential/coupon', // 分享链接
	            imgUrl: 'http://static.lvzheng.com/images/coupon/couponwx.png', // 分享图标
	            success: function () { 
	               // 用户确认分享后执行的回调函数
	        		lv_clickLog("moudle=coupon_share_qq&userId=$!{loginE.getUserid()}&data_openId=$!{openId}&data_action=click&data_from=$!{from}");
	            },
	            cancel: function () { 
	               // 用户取消分享后执行的回调函数
	            }
	        });
	        
	        // 分享到腾讯微博
	        wx.onMenuShareWeibo({
	            title: '6月大促品质狂欢节，领神券买好货', // 分享标题
	            desc: '6月初夏福利小微大放送，领神券买好货，分享还有更多壕礼等着你', // 分享描述
	            link: 'http://m.lvzheng.com/wx/preferential/coupon', // 分享链接
	            imgUrl: 'http://static.lvzheng.com/images/coupon/couponwx.png', // 分享图标
	            success: function () { 
	               // 用户确认分享后执行的回调函数
	        		lv_clickLog("moudle=coupon_share_weibo&userId=$!{loginE.getUserid()}&data_openId=$!{openId}&data_action=click&data_from=$!{from}");
	            },
	            cancel: function () { 
	                // 用户取消分享后执行的回调函数
	            }
	        });
	        // 分享到QQ空间
	        wx.onMenuShareQZone({
	            title: '6月大促品质狂欢节，领神券买好货', // 分享标题
	            desc: '6月初夏福利小微大放送，领神券买好货，分享还有更多壕礼等着你', // 分享描述
	            link: 'http://m.lvzheng.com/wx/preferential/coupon', // 分享链接
	            imgUrl: 'http://static.lvzheng.com/images/coupon/couponwx.png', // 分享图标
	            success: function () { 
	               // 用户确认分享后执行的回调函数
	        		lv_clickLog("moudle=coupon_share_qzone&userId=$!{loginE.getUserid()}&data_openId=$!{openId}&data_action=click&data_from=$!{from}");
	            },
	            cancel: function () { 
	                // 用户取消分享后执行的回调函数
	            }
	        });
        });
    });
</script>