

        
            <div class="box1">
                <a href="http://m.lvzheng.com/m/ldy/midautumn.html" class="link">
                <img src="http://static.lvzheng.com/images/midautumn.jpg"/>
                </a>
            </div>
            <div class="box2">
                <ul>
                    <li>
                        <div class="box2-1">
                            <a href="http://m.lvzheng.com/m/ldy/shangbiao.html" class="link">
                            <img src="/images/shangbiao_icon.jpg"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box2-2">
                            <a href="http://m.lvzheng.com/m/merge.html" class="link">
                            <img src="/images/sanzheng_icon.jpg"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            
          

