<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width" />
    <title>小微代理记账，您的贴心财务管家--国内领先的O2O自营法律服务提供商</title>
    <meta name="description" content="注册公司找小微律政,小微律政拥有专业的律师和会计团队,小微律政专注为创业公司及中小微企业提供代办公司注册,商标注册,代理记账,社保公积金开户,公司变更,合同拟定,公司章程等一站式企业服务，小微律政服务流程每一步都无微不至。">
    <meta name="keywords" content="小微律政,代办注册公司,公司注册,商标注册费用和流程" />
    <link rel="stylesheet" type="text/css" href="/css/ldy/book_land.css">
    <script src="/js/viewport.js"></script>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/jquery.tabs.js"></script>
	<script type="text/javascript">
    $(document).ready(function($){
	    $(".hot-tab").tabso({
	        cntSelect:".hot-con",
	        tabEvent:"click",
	        tabStyle:"normal"
	    });

		$(window).scroll(function(){
			var b=parseInt($(window).scrollTop());
			if(b<800){
				$(".backtop").removeClass("backtop-xf")
			}
			if(b>800){
				$(".backtop").addClass("backtop-xf")
			}
		});

        // 返回顶部
		$("#returnTop").click(function () {
			var speed=200;//滑动的速度
			$('body,html').animate({ scrollTop: 0 }, speed);
			return false;
		}); 

        // 问答展开
        $('.list').click(function(){
            $(this).children('.ans').slideToggle().parents('.list').siblings('.list').children('.ans').hide();
        })  


	});
 
	</script>


</head>
<body>
<div class="wrapper">

	<div class="mbook-box">
	    <div class="banner"></div>

	    <div class="main-box">
            <div class="md-box">
                <a href="#md1" class="md1">服务内容</a>
                <a href="#md2" class="md2">服务流程</a>
                <a href="#md3" class="md3">所需材料</a>
                <a href="#md4" class="md4">服务费用</a>
                <a href="#md5" class="md5">售后保障</a>
                <a href="#md6" class="md6">热门问答</a>
            </div>
            <div class="cp-box">
                <div class="bserbox" id="md1">
                    <p class="name"></p>
                    <div class="fwbox jcfw">
                        <p class="tag">基础服务</P>
                        <ul>
                           <li><label>1</label>建账</li> 
                           <li><label>2</label>整理原始票据</li> 
                           <li><label>3</label>账务处理</li> 
                           <li><label>4</label>出具资产负债表、利润表</li> 
                           <li><label>5</label>国税、地税、个人明细、所得税的纳税申报</li>
                           <li><label>6</label>装订凭证,总账、明细账、财税报表</li>
                           <li><label>7</label>代缴税款</li>
                           <li><label>8</label>年度汇算清缴</li>
                        </ul>
                    </div>
                    <div class="fwbox zsfw">
                        <p class="tag">赠送服务</P>
                        <ul>
                           <li><label>1</label>协助接受税务机构账务检查工作</li> 
                           <li><label>2</label>日常基本财务、税务咨询</li> 
                           <li><label>3</label>每月通知报税</li> 
                           <li><label>4</label>终身后续指导服务</li> 
                        </ul>
                    </div>
                </div>

                <div class="serflow" id="md2"></div>
                
                <div class="zbbox" id="md3">
                    <div class="text-box">
                        <p class="text">银行回单、对账单、国地税交税回单、社保扣费回单、公积金扣费回单</p>
                        <p class="text">正确的工资表</p>
                        <p class="text">收入发票,税控器开具发票明细,收入票的进账说明</p>
                        <p class="text">经营过程中支出发票,成本票,各项费用发票 </p>
                    </div>
                </div>
                
                <div class="feebox" id="md4">
                    <div class="text-box">
                        <p class="text">小规模纳税人采取分层收费模式，收费标准如下：</p>
                        <p class="n1">零申报</p>
                        <p class="p1">年付2000元</p>
                        <p class="n2">40张票据以下</p>
                        <p class="p2">年付2400元</p>
                        <p class="n3">40-80张票据 </p>
                        <p class="p3">年付3600元</p>
                        <p class="n4">80-120张票据  </p>
                        <p class="p4">年付4500元</p>
                        <p class="n5">120张票据以上   </p>
                        <p class="p5">年付5400元</p>
                    </div>
                </div>

                <div class="needbox">
                    <p class="t1">代开专用发票<br>300元／次</p>
                    <p class="t2">申请一般纳税人<br>2000元起</p>
                    <p class="t3">税务解除非正常信息<br>300元起/次</p>
                    <p class="t4">社保、公积金代理<br>2000元/年</p>
                    <p class="t5">整理乱帐<br>1500元起</p>
                </div>
                
                <div class="bzbox" id="md5"></div>
                <div class="sbox">
                    <p class="num">1</p>
                    <p class="name">小微自营服务 更放心</p>
                    <p class="text">在线下单，平台担保，与您签订纸质协议，服务期间有任何不满随时投诉极速解决，让您永无后顾之忧。</p>
                    <div class="cp1">
                        <p class="list">自营业务团队<br><span>（够专业）</span></p>
                        <p class="list">甲乙方协议<br><span>（有保障）</span></p>
                        <p class="list">极速投诉通道<br><span>（超放心）</span></p>
                    </div>
                </div>
                <div class="sbox">
                    <p class="num">2</p>
                    <p class="name">工商局认证有保障</p>
                    <p class="text">工商局权威认证特种行业许可，同时拥有代理人、刻章、代理记账等资质在全国代理机构仅有不到10%</p>
                    <div class="cp-pic"><img src="/images/mbook/cp2.jpg"></div>
                </div>
                <div class="sbox">
                    <p class="num">3</p>
                    <p class="name">三重筛选 更专业</p>
                    <p class="text">
	                    一重：小微律政的服务人员入门标准为法学专业本科生；<br>
	                    二重：员工入职均会经过专业的入职培训；<br>
	                    三重：培训结束需参加入职考试并通过后方可接受委托。<br>
	                    <span>三重筛选只为确保为您服务的人员都是最专业的。</span>
                    </p>
                    <div class="cp-pic"><img src="/images/mbook/cp3.jpg"></div>
                </div>
                <div class="sbox">
                    <p class="num">4</p>
                    <p class="name">广受用户喜爱</p>
                    <p class="text">小微律政不仅给用户带来了方便，也为行业带来一道曙光。</p>
                    <div class="cp-pic"><img src="/images/mbook/cp4.jpg"></div>
                </div>
            </div>



            <div class="fw-box" id="md6">
                <div class="fbox">
                    <div class="titlebox">
                        <p class="title">热门问答</p>
                    </div>
                    <div class="conbox">
                        <ul class="hot-tab">
                            <li class="current"><a>代理记账</a></li>
                            <li><a>记账相关</a></li>
                        </ul>
                        <div class="hot-con">
                            <div class="sublist">
                                <div class="list">
                                    <p class="hname">代理记账都包含什么内容？</p>
                                    <p class="ans"><span class="ts-arr"></span>审核发票、银行对账、账务处理、出具报表、纳税申报、税款缴纳、得税汇算清缴。</p>
                                </div>
                                <div class="list">
                                    <p class="hname">每个月的单据是上门来取吗？</p>
                                    <p class="ans"><span class="ts-arr"></span>不是的，是通过邮寄的方式送到公司，然后我们整理票据开始记账。</p>
                                </div>
                                <div class="list">
                                    <p class="hname">你们的费用包含账本么？</p>
                                    <p class="ans"><span class="ts-arr"></span>包含，从记账开始到记账结束的账本全是不收费的。</p>
                                </div>
                                <div class="list">
                                    <p class="hname">安排的会计是固定的嘛？</p>
                                    <p class="ans"><span class="ts-arr"></span>是的，我们这边是由2名专业会计分别负责您公司账目的审核与记账。</p>
                                </div>
                                <div class="list">
                                    <p class="hname">会计都是专职的吗？</p>
                                    <p class="ans"><span class="ts-arr"></span>是的，我们的会计都是正规学校财税专业的毕业生，平均从业经验达5年。</p>
                                </div>
                            </div>
                            <div class="sublist" style="display:none;">
                                <div class="list">
                                    <p class="hname">企业有会计了还需要代理记账吗？</p>
                                    <p class="ans"><span class="ts-arr"></span>一般企业的会计负责的是公司的内账，我们主要是负责公司的外账与报税。</p>
                                </div>
                                <div class="list">
                                    <p class="hname">可以网上付款吗？</p>
                                    <p class="ans"><span class="ts-arr"></span>可以的，小微支持支付宝、微信、银行卡及信用卡等多种支付方式。</p>
                                </div>
                                <div class="list">
                                    <p class="hname">合作都需要提供哪些资料？</p>
                                    <p class="ans"><span class="ts-arr"></span>1、银行回单、对账单、国地税交税回单、社保扣费回单、公积金扣费回单<br>2、正确的工资表<br>3、收入发票,税控器开具发票明细,收入票的进账说明<br>4、经营过程中支出发票,成本票,各项费用发票</p>
                                </div>
                                <div class="list">
                                    <p class="hname">可以开发票吗？</p>
                                    <p class="ans"><span class="ts-arr"></span>可以的，一般是每周三开完发票给代账会计直接入账。</p>
                                </div>
                                <div class="list">
                                    <p class="hname">企业的数据都保密吗？安全吗？</p>
                                    <p class="ans"><span class="ts-arr"></span>都是保密的，小微的会计一对一服务，由专人对您的资料进行保管，安全有保障。</p>
                                </div>
                            </div>
                        </div>  

                    </div>
                </div>
            </div>

	    </div>

		<div class="bot-box">
			<a href="tel:010-80697546" class="buybtn">立即咨询</a>
		</div>
		
		<div class="backtop" id="returnTop"></div>

	</div>

</div>


</body>
</html>