<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width" />
    <title>一个工作日出章，小微刻章极速安全有资质--国内领先的O2O自营法律服务提供商</title>
    <meta name="description" content="注册公司找小微律政,小微律政拥有专业的律师和会计团队,小微律政专注为创业公司及中小微企业提供代办公司注册,商标注册,代理记账,社保公积金开户,公司变更,合同拟定,公司章程等一站式企业服务，小微律政服务流程每一步都无微不至。">
    <meta name="keywords" content="小微律政,代办注册公司,公司注册,商标注册费用和流程" />
    <link rel="stylesheet" type="text/css" href="/css/ldy/kz_land.css">
    <link href="/css/box.css" type="text/css"  rel="stylesheet"/>
    <script src="/js/viewport.js"></script>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/box.js"></script> 
	<script type="text/javascript">
    $(document).ready(function($){

		$(window).scroll(function(){
			var b=parseInt($(window).scrollTop());
			if(b<800){
				$(".backtop").removeClass("backtop-xf")
			}
			if(b>800){
				$(".backtop").addClass("backtop-xf")
			}
		});

        // 返回顶部
		$("#returnTop").click(function () {
			var speed=200;//滑动的速度
			$('body,html').animate({ scrollTop: 0 }, speed);
			return false;
		}); 

	});
 
	</script>


</head>
<body>
<div class="wrapper">

	<div class="mkz-box">
	    <div class="banner"></div>

        <div class="main-box">
            <div class="titlebox">
                <p class="name">服务优势</p>
            </div>
            <div class="adv-box">
                <div class="adv-pic1"></div>
                <p class="text">特种行业许可 公安局备案</p>
                <div class="adv-pic2"></div>
                <p class="text">朝阳1工作日出章 其他区3工作日出章</p>
            </div>

            <div class="titlebox">
                <p class="name">服务内容</p>
            </div>
            <div class="fw-con">
                <p class="text">如果您是新成立公司：您需要刻制全套印章（包含公章、合同章、发票章、财务章、法人章）</p>
                <div class="con-pic"></div>
                <p class="price">全套仅需<span>400</span>元</p>
                <a href="http://m.lvzheng.com/mdetail/41414879665409.html?cityid=1&areaid=101" class="buybtn">立即购买</a>
            </div>

            <div class="ch-box">
                <p class="name">如果您在公司经营过程中，遇到以下情况您需要刻制新的印章：</p>
                <div class="ch1"></div>
                <div class="ch2"></div>
                <div class="ch3"></div>
                <div class="ch4"></div>
            </div>

  
            <div class="titlebox">
                <p class="name">所需材料</p>
            </div>
            <div class="needcl">
                <ul>
                    <li>
                        <div class="name">新公司设立刻章</div>
                        <div class="text"><label>1、</label><p>公司出具申请；</p></div>
                        <div class="text"><label>2、</label><p>营业执照副本原件和复印件；</p></div>
                        <div class="text"><label>3、</label><p>法人身份证原件和复印件；</p></div>
                        <div class="text"><label>4、</label><p>经办人身份证原件和复印件；</p></div>
                        <div class="text"><label>5、</label><p>外资需要商委批准证书。</p></div>
                    </li>
                    <li>
                        <div class="name">名称变更需刻章</div>
                        <div class="text"><label>1、</label><p>公司开具介绍信；</p></div>
                        <div class="text"><label>2、</label><p>法人身份证原件和复印件；</p></div>
                        <div class="text"><label>3、</label><p>经办人身份证原件和复印件；</p></div>
                        <div class="text"><label>4、</label><p>工商局核发的名称变更通知书；</p></div>
                        <div class="text"><label>5、</label><p>变更后的营业执照副本原件和复印件；</p></div>
                    </li>
                    <li>
                        <div class="name">更换公章、财务章须知</div>
                        <div class="text"><label>1、</label><p>持营业执照副本原件和复印件；</p></div>
                        <div class="text"><label>2、</label><p>法人身份证原件和复印件；</p></div>
                        <div class="text"><label>3、</label><p>经办人身份证原件和复印件；</p></div>
                        <div class="text"><label>4、</label><p>带着旧章，交由公司机关予以销毁；</p></div>
                        <div class="text"><label>5、</label><p>与您的开户的银行联系，询问是否去银行先将旧章在银行做旧的印章留存；</p></div>
                    </li>
                    <li>
                        <div class="name">加刻合同专用章</div>
                        <div class="text"><label>1、</label><p>营业执照副本原件和复印件；</p></div>
                        <div class="text"><label>2、</label><p>法人身份证原件和复印件；</p></div>
                        <div class="text"><label>3、</label><p>经办人身份证原件和复印件；</p></div>
                        <div class="text"><label>4、</label><p>公司开具介绍信（写明原来有几枚合同专用章，现在需要刻几枚，切记）；</p></div>
                        <div class="text"><label>5、</label><p>公章和法人亲笔签字；</p></div>
                    </li>
                </ul>
            </div>

            <div class="titlebox">
                <p class="name">我们的印章</p>
            </div>
            <div class="wyz-box">
                <ul>
                    <li>
                        <p class="pic"><img src="/images/mkz/yz1.jpg"></p>
                        <p class="name">平纹章</p>
                        <p class="price"><span>￥400</span>/套 ｜ <span>￥200</span>/枚</p>
                    </li>
                    <li>
                        <p class="pic"><img src="/images/mkz/yz2.jpg"></p>
                        <p class="name">螺纹章</p>
                        <p class="price"><span>￥600</span>/套</p>
                    </li>
                    <li>
                        <p class="pic"><img src="/images/mkz/yz3.jpg"></p>
                        <p class="name">翻转印章</p>
                        <p class="price"><span>￥400</span>/枚</p>
                    </li>
                </ul>
            </div>


        </div>

		<div class="bot-box">
			<a href="tel:01080697544" class="zxbtn">电话咨询</a>
		</div>
		
		<div class="backtop" id="returnTop"></div>

	</div>

</div>


</body>
</html>