<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width" />
    <title>小微律政-国内领先的O2O自营法律服务提供商</title>
    <meta name="description" content="注册公司找小微律政,小微律政拥有专业的律师和会计团队,小微律政专注为创业公司及中小微企业提供代办公司注册,商标注册,代理记账,社保公积金开户,公司变更,合同拟定,公司章程等一站式企业服务，小微律政服务流程每一步都无微不至。">
    <meta name="keywords" content="小微律政,代办注册公司,公司注册,商标注册费用和流程" />
    <link id="common_css" rel="stylesheet" href="http://static.lvzheng.com/blackM/css/style.css">
    <script src="http://static.lvzheng.com/blackM/js/viewport.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="product">
        <div class="show-info">
            <p class="list">
                <label>商品名称：</label>
                <span>$!{orderMap.productName}</span>
            </p>
            <p class="list">
                <label>订单号：</label>
                <span>$!{orderMap.payid}</span>
            </p>
            <p class="list">
                <label>购买时间：</label>
                <span>$!{orderMap.booktimeValue}</span>
            </p>
            <p class="list">
                <label>服务区域：</label>
                <span>$!{orderMap.cityname} $!{orderMap.aeasname}</span>
            </p>
            <p class="list">
                <label>当前状态：</label>
                <span class="tag">$!{orderMap.statusValue}</span>
            </p>
            <p class="list">
                <label>咨询电话：</label>
                <span class="tel"><a href="tel:$!{orderMap.phonenumber}">$!{orderMap.phonenumber}</a></span>
            </p>
        </div>
        <div class="show-name">
            服务备注
        </div>
        <div class="book-flow">
            <ul>
            	#if($!{orderMap.statusValue} == "服务完成")
                	<li class="fole-on">服务完成 <p class="flow-time">$!{orderMap.endBeiZhuTime}</p></li>
            	#end
            	
            	#foreach($follow in $!{followMapList})
                	<li class="fole-off">$!{follow.followcontent} <p class="flow-time">$!{follow.followtimeValue}</p></li>
            	#end
            	
                #if($!{orderMap.statusValue} == "服务中" || $!{orderMap.statusValue} == "服务完成")
                	<li class="fole-off">您的服务者已经开始为您服务 <p class="flow-time">$!{orderMap.startBeiZhuTime}</p></li>
                #end
            </ul>
        </div>
    </div>
</div>
</body>
</html>