<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width" />
    <title>小微律政超值大礼包送不停！价值千元的大礼包等你来拿</title>
    <meta name="description" content="创业维艰，错过此宝，再等一年">
    <meta name="keywords" content="小微律政,代办注册公司,公司注册,商标注册费用和流程" />

<link rel="stylesheet" href="/css/fullpage.css">
<script type="text/javascript" src="http://static.lvzheng.com/blackM/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="http://static.lvzheng.com/blackM/js/viewport.js"></script>
<script src="/js/jquery.fullPage.min.js"></script>
<script>
// fullpage滚动插件
$(function() {
	$('#fullpage').fullpage({
		// navigation: true,
		anchors: ['page1', 'page2', 'page3', 'page4', 'page5']
	});
});

// 消息滚动
function autoScroll(obj){  
    $(obj).find("ul").animate({  
        marginTop : "-90px"  
    },500,function(){  
        $(this).css({marginTop : "0px"}).find("li:first").appendTo(this);  
    })  
}  
$(function(){  
    if ($(".box1-news li").length > 1) {
        setInterval('autoScroll(".box1-news")',2000);
    }
}); 
</script>
</head>

<body>

<div id="fullpage" class="wrapper">
	<div class="section" id="section0">
		<div class="stage-box box1">
			<div class="box1-tag"></div>
			<div class="box1-text">
				<p class="rule-name"><span>活动规则</span></p>
				<p class="rule-text">
					即日起至<span>2016.08.31</span>，购买任意服务即可获得大礼包
				</p>
				</div>
			<div class="box1-news">
                <ul>
                    <li>
                        <p class="listprize">马先生152xxxx8824购买了<span>公司注册</span>服务，领取了<span>财税风险防范咨询服务等</span>礼品</p>
                    </li>
                    <li>
                        <p class="listprize">李先生138xxxx9352购买了<span>计算机软件著作权登记</span>服务，领取了<span>品牌直通车等</span>礼品</p>
                    </li>
                    <li>
                        <p class="listprize">唐先生1386xxxx9386购买了<span>代理记账</span>服务，领取了<span>财务单据</span>礼品</p>
                    </li>
                    <li>
                        <p class="listprize">李女士136xxxx5543购买了<span>公司注册</span>服务，领取了<span>36氪 优先对接前100名投资人等</span>礼品</p>
                    </li>
                    <li>
                        <p class="listprize">王先生139xxxx9873购买了<span>公司股权变更</span>服务，领取了<span>名片两盒等</span>礼品</p>
                    </li>
                    <li>
                        <p class="listprize">何先生130xxxx1112购买了<span>常年法律顾问</span>服务，领取了<span>两小时保洁服务（限六环内）</span>礼品</p>
                    </li>
                </ul>
            </div>
		</div>
		<a class="index_link btn-down" href="#page2">
			<div class='sign w1'></div>
			<div class='sign w2'></div>
			<div class='sign w3'></div>
		</a>
	</div>

	<div class="section" id="section1">
		<div class="stage-box box2">
			<div class="box2-name">法律财税</div>
			<div class="box2-tag1">
				<div class="show">
					<p class="logo"></p>
					<p class="name">免费财税风险咨询一次<span>价值500元</span></p>
					<p class="text">1、税务报到和纳税申报可能遇到的问题；<br>2、对公账户的账务处理问题；<br>3、税控使用当中你所不知道的坑。</p>
				</div>
				<div class="show">
					<p class="logo"></p>
					<p class="name">免费法律咨询30分钟<span>价值500元</span></p>
					<p class="text">1、如何设计股权方案？<br>2、劳资纠纷如何处理？<br>3、知识产权知多少？</p>
				</div>
			</div>
		</div>

		<a class="index_link btn-down" href="#page3">
			<div class='sign b1'></div>
			<div class='sign b2'></div>
			<div class='sign b3'></div>
		</a>
	</div>

	<div class="section" id="section2">
		<div class="stage-box box3">
			<div class="box3-name">品牌传播与融资</div>
			<div class="box3-tag1">
				<div class="show">
					<p class="logo"></p>
					<p class="name">品牌宣传直通车</p>
					<p class="price">价值300元</p>
					<p class="text">企业号开通专属通道<br>优质文章的热点推荐、首页推荐</p>
				</div>
			</div>
			<div class="box3-tag2">
				<div class="show">
					<p class="logo"></p>
					<p class="name">公关服务一次</p>
					<p class="price">价值300元</p>
					<p class="text">20家门户、新闻类网站PR稿宣传300元优惠券</p>
				</div>
			</div>
			<div class="box3-tag3">
				<div class="show">
					<p class="logo"></p>
					<p class="name">融资推荐</p>
					<!-- <p class="price">价值1000元</p> -->
					<p class="text">36氪专业融资顾问将对您的BP进行初步筛选，入选后的BP将被分发给最活跃的前100家投资机构</p>
				</div>
			</div>
		</div>
		<a class="index_link btn-down" href="#page4">
			<div class='sign b1'></div>
			<div class='sign b2'></div>
			<div class='sign b3'></div>
		</a>
	</div>

	<div class="section" id="section3">
		<div class="stage-box box4">
			<div class="box4-name">办公用品</div>
			<div class="box4-tag1 s-bhover">
				<div class="show">
					<p class="logo"></p>
					<p class="name">云印名片</p>
					<p class="price">价值20元</p>
					<p class="text">名片2盒</p>
				</div>
			</div>
			<div class="box4-tag2 s-bhover">
				<div class="show">
					<p class="logo"></p>
					<p class="name">保洁服务</p>
					<p class="price">价值100元</p>
					<p class="text">办公地点保洁服务<br>2小时免费</p>
				</div>
			</div>
			<div class="box4-tag3 s-bhover">
				<div class="show">
					<p class="logo"></p>
					<p class="name">财务单据</p>
					<p class="price">价值10元</p>
					<p class="text">支出凭单、报销单、借款单各送一本</p>
				</div>
			</div>
			<div class="box4-tag4 s-bhover">
				<div class="show">
					<p class="logo"></p>
					<p class="name">打印机租赁1个月</p>
					<p class="price">价值500元</p>
					<p class="text">300元享打印机使用期限一个月并免费打印黑白4000页，彩色免费200页</p>
				</div>
			</div>
		</div>
		<a class="index_link btn-down" href="#page5">
			<div class='sign w1'></div>
			<div class='sign w2'></div>
			<div class='sign w3'></div>
		</a>
	</div>

	<div class="section" id="section4">
		<div class="stage-box box5">
			<div class="box5-name">活动说明</div>
			<div class="box5-text">
				<p class="name"><span>活动介绍</span></p>
				<p class="title">活动时间</p>
				<p class="text">即日起至2016年8月31日</p>
				<p class="title">申领方式</p>
				<p class="text">购买后在支付完成页面点击领取大礼包<br>在相应的页面勾选您所需的服务即可</p>
				<p class="title">活动方式</p>
				<p class="rule-text">凡在本次活动期间内购买小微律政服务的用户，均享有申领增值服务的权利；</p>
				<p class="rule-text">用户申领增值服务后，增值服务商会在1-3个工作日内为您服务，请留意电话；</p>
				<a href="/wx/index" class="goindex">去首页看看</a>
				<a href="tel:01080697544" class="copy">本次活动最终解释权归小微律政所有<br>如有疑问请拨打010-80697544</a>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254054374'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254054374' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
wx.config({
	debug:false,
	appId:"$!appid",
	timestamp:"$!timestamp",
	nonceStr:"$!nonceStr",
	signature:"$!signature",
	jsApiList:['onMenuShareTimeline','onMenuShareAppMessage']
}); 
wx.ready(function(){
	wx.onMenuShareTimeline({
		title:"小微律政超值大礼包送不停！价值千元的大礼包等你来拿",
		desc:"创业维艰，错过此宝，再等一年",
		link:"https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx76ec5c98f567d0e1&redirect_uri=http%3A%2F%2Fm.lvzheng.com%2Fwxsupportpj.html&response_type=code&scope=snsapi_base&state=123&connect_redirect=1#wechat_redirect",
		imgUrl:"http://o8a5h1k2v.bkt.clouddn.com/16-8-8/17832383.jpg",
		success:function(){

		},
		cancel:function(){
			
		}
	});
	wx.onMenuShareAppMessage({
		title:"小微律政超值大礼包送不停！价值千元的大礼包等你来拿",
		desc:"创业维艰，错过此宝，再等一年",
		link:"https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx76ec5c98f567d0e1&redirect_uri=http%3A%2F%2Fm.lvzheng.com%2Fwxsupportpj.html&response_type=code&scope=snsapi_base&state=123&connect_redirect=1#wechat_redirect",
		imgUrl:"http://o8a5h1k2v.bkt.clouddn.com/16-8-8/17832383.jpg",
		success:function(){
			//window.location.href = "";
			// alert('zzz');
			//window.location.href = "/prize/cj?openId=$!{openId}";  //去抽奖页面
		},
		cancel:function(){
			
		}
	});
});
</script>	
</body>

</html>
