<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>查看奖品-泰迪鲜花</title>
<link rel="stylesheet" type="text/css" href="/css/zp/prize.css">
<link rel="stylesheet" type="text/css" href="/css/zp/common.css">
<script src="http://static.lvzheng.com/blackM/js/jquery-1.7.2.min.js"></script>
<script src="/js/jQueryRotate.2.2.js"></script>
<script src="/js/jquery.easing.min.js"></script>

</head>
<body>

	<div class="prize_hd">
        <img src="/images/zp/prize_1.jpg">
    </div>
	<div class="prize_mian">
	  <h6></h6>
	  <div class="pre_m_ct pt20 pb60">
	      <div class="pre_m_ct_nbm">
	         <span class="nbm_left"><i>￥</i><em>5</em></span>
	         <span class="nbm_right"><h4>泰笛鲜花代金券</h4></span>
	      </div>
	      <div class="pre_m_ct_ipt">
		       <form action="" method="get">
				    <div class="ipt_list"><h5>兑换码：</h5><input type="text" readonly="readonly" name="points" min="0" max="9"  value="$!{model.exchangeno}"/></div>
				    <div class="ipt_list">
					    <b>使用方法：</b>
					    <p>登录泰笛app，选择要购买的商品，
							进入结算页面，输入代金券码即可。
							</p>
					<div>

				</form>

	      </div>
	  </div>
	  
	</div></form></div>
	 
	<div class="prize_ft clearfix">
		<p>@小微律政</p>
	</div>
</script>
</html>