<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width" />
    <title>我的订单-国内领先的O2O自营法律服务提供商</title>
    <meta name="description" content="注册公司找小微律政,小微律政拥有专业的律师和会计团队,小微律政专注为创业公司及中小微企业提供代办公司注册,商标注册,代理记账,社保公积金开户,公司变更,合同拟定,公司章程等一站式企业服务，小微律政服务流程每一步都无微不至。">
    <meta name="keywords" content="小微律政,代办注册公司,公司注册,商标注册费用和流程" />
    <link id="common_css" rel="stylesheet" href="http://static.lvzheng.com/blackM/css/style.css">
    <script src="http://static.lvzheng.com/blackM/js/viewport.js"></script>
    <script type="text/javascript" src="http://static.lvzheng.com/blackM/js/jquery-1.7.2.min.js"></script>
    <script src="/js/jquery.tabs.js"></script>
    <script type="text/javascript">
    $(document).ready(function($){
        $("#normaltab").tabso({
            cntSelect:"#normalcon",
            tabEvent:"click",
            tabStyle:"normal"
        });
        
        $("#J_unuse_tab").click();
    });
    </script>
</head>
<body>
<div class="wrapper">
    <div class="mcoupon">
        
        <ul class="tabbtn" id="normaltab">
            <li class="current" id="J_unuse_tab"><a>有效券</a></li>
            <li><a>已使用</a></li>
            <li><a>已过期</a></li>
        </ul>

        <div class="tabcon" id="normalcon">
            <div class="sublist" >
                <div class="mcoupon-box">
                    
	                #foreach($cv in $!unuselist)
						<div class="list">
							#if($cv.type == 0)
		                        <div class="cou-info red">
		                            #if($!{cv.invalidLastDate} >0 && $!{cv.invalidLastDate} <= 3)
		                            <p class="time">仅剩$!{cv.invalidLastDate}天过期</p>
		                            #end
		                            #if ($!{cv.invalidLastDate} == 0)
		                            <p class="time">今天过期</p>
		                            #end
		                            <p class="money"><span>￥</span>${cv.quota}</p>
		                            <p class="cond">满${cv.limit}可用 <span>[满减券]</span></p>
		                            <p class="date">$!{simpleDateFormat.format($cv.effectDate)}--$!{simpleDateFormat.format($cv.invalidDate)}</p>
		                        </div>
	                         #elseif($cv.type == 2)
		                        <div class="cou-info blue">
		                            #if($!{cv.invalidLastDate} >0 && $!{cv.invalidLastDate} <= 3)
		                            <p class="time">仅剩$!{cv.invalidLastDate}天过期</p>
		                            #end
		                            #if ($!{cv.invalidLastDate} == 0)
		                            <p class="time">今天过期</p>
		                            #end
		                            <p class="money"><span>${cv.quotaName}折</span></p>
		                            <p class="cond">最高抵扣${cv.limit}元 <span>[折扣券]</span></p>
		                            <p class="date">$!{simpleDateFormat.format($cv.effectDate)}--$!{simpleDateFormat.format($cv.invalidDate)}</p>
		                        </div>
		                        
		                     #else
		                        <div class="cou-info purple">
		                            #if($!{cv.invalidLastDate} >0 && $!{cv.invalidLastDate} <= 3)
		                            <p class="time">仅剩$!{cv.invalidLastDate}天过期</p>
		                            #end 
		                            #if ($!{cv.invalidLastDate} == 0)
		                            <p class="time">今天过期</p>
		                            #end
		                            <p class="money"><span>￥</span>${cv.quota}</p>
		                            <p class="cond">抵用券</p>
		                            <p class="date">$!{simpleDateFormat.format($cv.effectDate)}--$!{simpleDateFormat.format($cv.invalidDate)}</p>
		                        </div>
	                        #end
	                        <div class="cou-text">
	                            <p class="t1"><label>适用商品：</label><span>$!{cv.suitProduct}</span></p>
	                            <p class="t1"><label>适用区域：</label><span> $!{cv.suitArea}</span></p>
	                        </div>
	                        <div class="cou-btn">
	                            <a href="http://m.lvzheng.com/m/index"  class="sy-btn">去使用</a>
	                        </div>
                   		</div>
					#end
					
					
                </div>
            </div>
            <div class="sublist">
                <div class="mcoupon-box">
                    #foreach($cv in $!uselist)
	                    <div class="list">
	                        
	                        #if($cv.type == 0)
		                        <div class="cou-info gray">
		                            <p class="money"><span>￥</span>${cv.quota}</p>
		                            <p class="cond">满${cv.limit}可用 <span>[满减券]</span></p>
		                            <p class="date">$!{simpleDateFormat.format($cv.effectDate)}--$!{simpleDateFormat.format($cv.invalidDate)}</p>
		                        </div>
	                         #elseif($cv.type == 2)
		                        <div class="cou-info gray">
		                            <p class="money"><span>${cv.quotaName}折</span></p>
		                            <p class="cond">最高抵扣${cv.limit}元 <span>[折扣券]</span></p>
		                            <p class="date">$!{simpleDateFormat.format($cv.effectDate)}--$!{simpleDateFormat.format($cv.invalidDate)}</p>
		                        </div>
		                        
		                     #else
		                        <div class="cou-info gray">
		                            <p class="money"><span>￥</span>${cv.quota}</p>
		                            <p class="cond">抵用券</p>
		                            <p class="date">$!{simpleDateFormat.format($cv.effectDate)}--$!{simpleDateFormat.format($cv.invalidDate)}</p>
		                        </div>
	                        #end
	                        
	                        
	                        
	                        
	                        
	                        <div class="cou-text">
	                            <p class="t1"><label>订单编号：</label><span>${cv.payid}</span></p>
	                            <p class="t1"><label>使用日期：</label><span>$!{simpleDateFormat.format($cv.modifyDate)}</span></p>
	                        </div>
	                        <div class="ysy"></div>
	                    </div>
                    #end
                </div>
            </div>
            <div class="sublist">
                <div class="mcoupon-box">
                	#foreach($cv in $!overlist)
	                    <div class="list">
	                         #if($cv.type == 0)
		                        <div class="cou-info gray">
		                            <p class="money"><span>￥</span>${cv.quota}</p>
		                            <p class="cond">满${cv.limit}可用 <span>[满减券]</span></p>
		                            <p class="date">$!{simpleDateFormat.format($cv.effectDate)}--$!{simpleDateFormat.format($cv.invalidDate)}</p>
		                        </div>
	                         #elseif($cv.type == 2)
		                        <div class="cou-info gray">
		                            <p class="money"><span>${cv.quotaName}折</span></p>
		                            <p class="cond">最高抵扣${cv.limi}元 <span>[折扣券]</span></p>
		                            <p class="date">$!{simpleDateFormat.format($cv.effectDate)}--$!{simpleDateFormat.format($cv.invalidDate)}</p>
		                        </div>
		                        
		                     #else
		                        <div class="cou-info gray">
		                            <p class="money"><span>￥</span>${cv.quota}</p>
		                            <p class="cond">抵用券</p>
		                            <p class="date">$!{simpleDateFormat.format($cv.effectDate)}--$!{simpleDateFormat.format($cv.invalidDate)}</p>
		                        </div>
	                        #end
	                        <div class="cou-text">
	                            <p class="t1"><label>适用商品：</label><span>$!{cv.suitProduct}</span></p>
	                            <p class="t1"><label>适用区域：</label><span>$!{cv.suitArea}</span></p>
	                        </div>
	                        <div class="ygq"></div>
	                    </div>
                    #end
                </div>
            </div>
        </div>

    </div>




</div>


</body>
</html>