<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>小微律政-国内领先的O2O自营法律服务提供商</title>
<meta name="description" content="注册公司找小微律政,小微律政拥有专业的律师和会计团队,小微律政专注为创业公司及中小微企业提供代办公司注册,商标注册,代理记账,社保公积金开户,公司变更,合同拟定,公司章程等一站式企业服务，小微律政服务流程每一步都无微不至。">
<meta name="keywords" content="小微律政,代办注册公司,公司注册,商标注册费用和流程" />

<link href="/sem/css/suitm.css" type="text/css"  rel="stylesheet"/>
<script type="text/javascript" src="/semhttp://static.lvzheng.com/blackM/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/semhttp://static.lvzheng.com/blackM/js/viewport.js"></script> 
<script type="text/javascript">
$(function(){
  $(window).scroll(function(){
    var a=parseInt($(window).scrollTop());
    if(a<550){
      $(".mbot-tel").removeClass("mbot-telxf")
    }
    if(a>550)
      {
      $(".mbot-tel").addClass("mbot-telxf")
      }
  });
})  
</script>
</head>
<body>
<div class="wrapper">
    
    <div class="suitm-box">
        <div class="suitm-banner">
            <a href="" class="tel">咨询热线: 010-80697544</a>
        </div>  
        <p class="tag"></p> 
        <div class="suitm-main">
            <div class="box1 box-line">
                <p class="b-tit"></p>
                <div class="cp-box">
                    <ul>
                        <li class="cp1">公司注册</li>
                        <li class="plus"></li>
                        <li class="cp1">代理地址</li>
                        <li class="plus"></li>
                        <li class="cp2">代理记账(1年)</li>
                    </ul>
                </div>
                <div class="price-box">
                    <ul>
                        <li>
                            <p class="area">海淀区</p>
                            <p class="price">￥7188</p>
                        </li>
                        <li>
                            <p class="area">朝阳区</p>
                            <p class="price">￥6088</p>
                        </li>
                    </ul>
                </div>
                <div class="buy-box">
                    <div class="text">
                        <p class="t1">3合1功能 省心省力</p>
                        <p class="t2">公司尊享豪华套餐，最多人购买</p>
                    </div>
                    <a href="http://m.lvzheng.com/mdetail/38832118957057.html" class="buybtn">点击抢购</a>
                </div>
            </div>
            <div class="box2 box-line">
                <p class="b-tag"></p>
                <p class="b-tit"></p>
                <div class="cp-box">
                    <ul>
                        <li class="cp1">公司注册</li>
                        <li class="plus"></li>
                        <li class="cp1">代理地址</li>
                    </ul>
                </div>
                <div class="price-box">
                    <ul>
                        <li>
                            <p class="area">海淀区</p>
                            <p class="price">￥5188</p>
                        </li>
                        <li>
                            <p class="area">朝阳区</p>
                            <p class="price">￥4188</p>
                        </li>
                    </ul>
                </div>
                <div class="buy-box">
                    <div class="text">
                        <p class="t1">一站式搞定 聚划算</p>
                        <p class="t2">当老板就得精打细算，最实惠购买</p>
                    </div>
                    <a href="http://m.lvzheng.com/mdetail/38677678317569.html" class="buybtn">点击抢购</a>
                </div>
            </div>
            <div class="box3">
                <p class="b-tag"></p>
                <p class="b-tit"></p>
                
                <div class="cp-box">
                    <ul>
                        <li class="cp1">公司注册</li>
                        <li class="plus"></li>
                        <li class="cp1">代理记账</li>
                    </ul>
                </div>
                <div class="price-box">
                    <ul>
                        <li>
                            <p class="area">海淀区</p>
                            <p class="price">￥2298</p>
                        </li>
                        <li>
                            <p class="area">朝阳区</p>
                            <p class="price">￥2298</p>
                        </li>
                    </ul>
                </div>
                <div class="buy-box">
                    <div class="text">
                        <p class="t1">轻松解决 注册的难题</p>
                        <p class="t2">注册一步走说走咱就走，最快捷购买</p>
                    </div>
                    <a href="http://m.lvzheng.com/mdetail/38832591890689.html" class="buybtn">点击抢购</a>
                </div>
            </div>        
        </div>
        <div class="mbot-info">
            <div class="info-box">
                <p class="title"><span>活动说明</span></p>
                <p class="text"><label>1、</label><span>上述组合套装仅支持朝阳、海淀、通州<br>其他区域可拨打我们的热线电话 <a href="tel:01080697544">010-80697544</a> </span></p>
                <p class="text"><label>2、</label><span>购买组合套装的用户暂不支持单品退款</span></p>
                <p class="text"><label>3、</label><span>组合中代理记账业务为小规模纳税人记账</span></p>
            </div>
        </div>
        <div class="mbot-tel">
            <div class="tel-box"><a class="call" href="tel:01080697544">咨询热线： 010-80697544</a></div>
        </div>

    </div>

</div>    
</body>
<span style="display: none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fdfea9be52ba6e004afc970e9559e0150' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254054374'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254054374' type='text/javascript'%3E%3C/script%3E"));</script>


</span>
</html>
